<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion stock </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Main.css')}}">



</script>
</head>
<body>

    <header>
        <button onclick="goHome()">Home</button>
        <button onclick="goLogin()">Login</button>
    </header>

    <section>
        <div class="info-block">
            <h2>Stock</h2>
            <table>
                <tr>

                    <td>
                        <p>Emplacement 1</p>
                        {% if (bdd_1_emplcement_1_couleur == 1) %}
                            <img src="{{ url_for('static', filename='rond_bleu.png') }}" alt="bleu">
                        {% elif (bdd_1_emplcement_1_couleur == 2) %}
                            <img src="{{ url_for('static', filename='rond_rouge.png') }}" alt="rouge">
                        {% elif (bdd_1_emplcement_1_couleur == 3) %}
                            <img src="{{ url_for('static', filename='rond_blanc.png') }}" alt="blanc">
                        {% elif (bdd_1_emplcement_1_couleur == 99) %}
                            <img src="{{ url_for('static', filename='vide.png') }}" alt="vide">
                        {% else %}
                        <p>BUG</p>
                        {% endif %}
                    </td>
                
                    <td>
                        <p>Emplacement 2</p>
                        {% if (bdd_1_emplcement_2_couleur == 1) %}
                            <img src="{{ url_for('static', filename='rond_bleu.png') }}" alt="bleu">
                        {% elif (bdd_1_emplcement_2_couleur == 2) %}
                            <img src="{{ url_for('static', filename='rond_rouge.png') }}" alt="rouge">
                        {% elif (bdd_1_emplcement_2_couleur == 3) %}
                            <img src="{{ url_for('static', filename='rond_blanc.png') }}" alt="blanc">
                        {% elif (bdd_1_emplcement_2_couleur == 99) %}
                            <img src="{{ url_for('static', filename='vide.png') }}" alt="vide">
                        {% else %}
                        <p>BUG</p>
                        {% endif %}
                    </td>
                    <td>
                        <p>Emplacement 3</p>
                        {% if (bdd_1_emplcement_3_couleur == 1) %}
                            <img src="{{ url_for('static', filename='rond_bleu.png') }}" alt="bleu">
                        {% elif (bdd_1_emplcement_3_couleur == 2) %}
                            <img src="{{ url_for('static', filename='rond_rouge.png') }}" alt="rouge">
                        {% elif (bdd_1_emplcement_3_couleur == 3) %}
                            <img src="{{ url_for('static', filename='rond_blanc.png') }}" alt="blanc">
                        {% elif (bdd_1_emplcement_3_couleur == 99) %}
                            <img src="{{ url_for('static', filename='vide.png') }}" alt="vide">
                        {% else %}
                         <p>BUG</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Emplacement 4</p>
                        {% if (bdd_1_emplcement_4_couleur == 1) %}
                            <img src="{{ url_for('static', filename='rond_bleu.png') }}" alt="bleu">
                        {% elif (bdd_1_emplcement_4_couleur == 2) %}
                            <img src="{{ url_for('static', filename='rond_rouge.png') }}" alt="rouge">
                        {% elif (bdd_1_emplcement_4_couleur == 3) %}
                            <img src="{{ url_for('static', filename='rond_blanc.png') }}" alt="blanc">
                        {% elif (bdd_1_emplcement_4_couleur == 99) %}
                            <img src="{{ url_for('static', filename='vide.png') }}" alt="vide">
                        {% else %}
                            <p>BUG</p>
                        {% endif %}
                    </td>
                    <td>
                        <p>Emplacement 5</p>
                        {% if (bdd_1_emplcement_5_couleur == 1) %}
                            <img src="{{ url_for('static', filename='rond_bleu.png') }}" alt="bleu">
                        {% elif (bdd_1_emplcement_5_couleur == 2) %}
                            <img src="{{ url_for('static', filename='rond_rouge.png') }}" alt="rouge">
                        {% elif (bdd_1_emplcement_5_couleur == 3) %}
                            <img src="{{ url_for('static', filename='rond_blanc.png') }}" alt="blanc">
                        {% elif (bdd_1_emplcement_5_couleur == 99) %}
                            <img src="{{ url_for('static', filename='vide.png') }}" alt="vide">
                        {% else %}
                           <p>BUG</p>
                        {% endif %}
                    </td>
                    <td>
                        <p>Emplacement 6</p>
                        {% if (bdd_1_emplcement_6_couleur == 1) %}
                            <img src="{{ url_for('static', filename='rond_bleu.png') }}" alt="bleu">
                        {% elif (bdd_1_emplcement_6_couleur == 2) %}
                            <img src="{{ url_for('static', filename='rond_rouge.png') }}" alt="rouge">
                        {% elif (bdd_1_emplcement_6_couleur == 3) %}
                            <img src="{{ url_for('static', filename='rond_blanc.png') }}" alt="blanc">
                        {% elif (bdd_1_emplcement_6_couleur == 99) %}
                            <img src="{{ url_for('static', filename='vide.png') }}" alt="vide">
                        {% else %}
                           <p>BUG</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Emplacement 7</p>
                        {% if (bdd_1_emplcement_7_couleur == 1) %}
                            <img src="{{ url_for('static', filename='rond_bleu.png') }}" alt="bleu">
                        {% elif (bdd_1_emplcement_7_couleur == 2) %}
                            <img src="{{ url_for('static', filename='rond_rouge.png') }}" alt="rouge">
                        {% elif (bdd_1_emplcement_7_couleur == 3) %}
                            <img src="{{ url_for('static', filename='rond_blanc.png') }}" alt="blanc">
                        {% elif (bdd_1_emplcement_7_couleur == 99) %}
                            <img src="{{ url_for('static', filename='vide.png') }}" alt="vide">
                        {% else %}
                           <p>BUG</p>
                        {% endif %}
                    </td>
                    <td>
                        <p>Emplacement 8</p>
                        {% if (bdd_1_emplcement_8_couleur == 1) %}
                            <img src="{{ url_for('static', filename='rond_bleu.png') }}" alt="bleu">
                        {% elif (bdd_1_emplcement_8_couleur == 2) %}
                            <img src="{{ url_for('static', filename='rond_rouge.png') }}" alt="rouge">
                        {% elif (bdd_1_emplcement_8_couleur == 3) %}
                            <img src="{{ url_for('static', filename='rond_blanc.png') }}" alt="blanc">
                        {% elif (bdd_1_emplcement_8_couleur == 99) %}
                            <img src="{{ url_for('static', filename='vide.png') }}" alt="vide">
                        {% else %}
                            <p>BUG</p>
                        {% endif %}
                    </td>
                    <td>
                        <p>Emplacement 9</p>
                        {% if (bdd_1_emplcement_9_couleur == 1) %}
                            <img src="{{ url_for('static', filename='rond_bleu.png') }}" alt="bleu">
                        {% elif (bdd_1_emplcement_9_couleur == 2) %}
                            <img src="{{ url_for('static', filename='rond_rouge.png') }}" alt="rouge">
                        {% elif (bdd_1_emplcement_9_couleur == 3) %}
                            <img src="{{ url_for('static', filename='rond_blanc.png') }}" alt="blanc">
                        {% elif (bdd_1_emplcement_9_couleur == 99) %}
                            <img src="{{ url_for('static', filename='vide.png') }}" alt="vide">
                        {% else %}
                            <p>BUG</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <script>
        function goHome() {
            // Rediriger vers l'IP principale (0.0.0.0)
            window.location.href = "http://127.0.0.1:5000";
        }

        function goLogin() {
            // Ajouter le code de redirection vers la page de login ici
            alert("Fonctionnalité de login à implémenter.");
        }

        function goInfoPage(link) {
            // Rediriger vers le lien spécifié
            window.location.href = link;
        }
    </script>

</body>
</html>
