<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>Titre du document 05</title>
    </head>
    <body style="background-color:powderblue;">
        <h1 style="text-align:center;">Entreprise Resource Planning</h1>
        <p style="font-size:60px;">Serveur<br>oui<p>
        <p style="color:red;">Paramètres connexion<p>
        <hr>
        <h2 style="font-family:verdana;">Liste champs</h2>
        <ul>
        <li>Champs 1</li>
        <li>Champs 2</li>
        <a href="http://127.0.0.1:5000/list">Ceci est un lien</a>
        </ul>
    </body>
</html>