<!doctype html>
    <html lang="fr">
        <head>
            <meta charset="utf-8">
            <title>Titre du document 02</title>
        </head>
        <body>
            <h1>Entête niveau 1</h1>
            <p>Premier paragraphe</p>
            <p title="Bulle info">Second paragraphe</p>
            <h2>Entête niveau 2</h2>
            <a href="https://www.formation-industrie.bzh">Ceci est un lien</a>
                <ul>
                    <li>Texte ligne 1</li>
                    <li>Texte ligne 2</li>
                </ul>
        </body>


            <h1>Titre du document 04 </h1>

            <body>
            <p>
            Serveur WEB<br><i>Version 15.0</i>
            </p>
            <h1>Ordre Fabrication</h1>
            <p>
            <del><mark>MO/0001</mark> <b>Article 1</b> Qte=2.0</del><br>
            <mark>MO/0002</mark> <b>Article 5</b> Qte=3.0
            </p>
            </body>
</html>
