<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordre de frabrication</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Main.css')}}">

</head>
<body>

    <header>
        <button onclick="goHome()">Home</button>
        <button onclick="goLogin()">Login</button>
    </header>

    <section>
        <div class="info-block">
            <h2>Historique OF</h2>
            <img src="{{url_for('static', filename='OF.png')}}" alt="icone_OF">
            
            <!-- Dropdown Box -->
            <div class="dropdown">
                <label for="rows">Nombre de lignes à afficher :</label>
                <select id="rows" name="rows">
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </div>
            
            {% for i in range(selected_rows) %}
            <div class="info-row">
                <p>{{ last_10_of_date[i] }} </p>
                {% if last_10_of_couleur[i] == 1 %}
                    <img src="{{ url_for('static', filename='rond_bleu.png') }}" alt="bleu">
                {% elif last_10_of_couleur[i] == 2 %}
                    <img src="{{ url_for('static', filename='rond_rouge.png') }}" alt="rouge">
                {% elif last_10_of_couleur[i] == 3 %}
                    <img src="{{ url_for('static', filename='rond_blanc.png') }}" alt="blanc">
                {% elif last_10_of_couleur[i] == 99 %}
                    <img src="{{ url_for('static', filename='vide.png') }}" alt="vide">
                {% else %}
                    <p>BUG</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>

    <script>
        function goHome() {
            // Rediriger vers l'IP principale (0.0.0.0)
            window.location.href = "http://127.0.0.1:5000";
        }

        function goLogin() {
            // Ajouter le code de redirection vers la page de login ici
            alert("Fonctionnalité de login à implémenter.");
        }

        function goInfoPage(link) {
            // Rediriger vers le lien spécifié
            window.location.href = link;
        }
    </script>

</body>
</html>
