<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Main.css')}}">
</head>
<body>

    <header>
        <button onclick="goHome()">Home</button>
        <button onclick="goLogin()">Login</button>
    </header>

    <section>
        <div class="column">
            <a href="http://127.0.0.1:5000/mini_factory__1_/mini_factory__1_production" title="Information de production">
                <p>Information de production par ilot 
                </p>
                <img src="{{url_for('static', filename='logo_production.png')}}" alt="Information de production">
            </a>
        </div>
        <div class="column">
            <a href="http://0.0.0.0/list" title="Les Ilots">
                <p>Les Ilots</p>
                <img src="{{url_for('static', filename='logo_composants.png')}}" alt="Les Ilots">
            </a>
        </div>
        <div class="column">
            <a href="http://0.0.0.0/list" title="les interaction entre les Ilots">
                <p>mles interaction entre les Ilots</p>
                <img src="{{url_for('static', filename='logo_composants.png')}}" alt="les interaction entre les Ilots">
            </a>
        </div>
    </section>

    <script>
        function goHome() {
            // Rediriger vers l'IP principale (0.0.0.0)
            window.location.href = "http://127.0.0.1:5000";
        }

        function goLogin() {
            // Ajouter le code de redirection vers la page de login ici
            alert("Fonctionnalité de login à implémenter.");
        }
    </script>

</body>
</html>
