body {
    background-color: lightblue;
    margin: 0; /* Ajout pour enlever les marges par défaut du body */
    font-family: verdana; /* Ajout d'une police de caractères par défaut */
}

h1 {
    color: white;
    text-align: center; /* Modification pour centrer le texte */
}

p {
    font-size: 20px;
    text-align: justify;
}

table {
    width: 100%; /* Modification pour rendre la table 100% de la largeur */
    border-collapse: collapse; /* Ajout pour fusionner les bordures des cellules */
    margin: 20px 0; /* Ajout de marges pour l'espace autour de la table */
}

th, td {
    border: 1px solid black;
    padding: 8px; /* Ajout de rembourrage pour l'espace à l'intérieur des cellules */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Changement de la couleur de fond des lignes paires */
}

div {
    background-color: lightblue;
    padding: 20px; /* Ajout de rembourrage pour l'espace à l'intérieur du div */
}
